[Unit]
Description=Piviteye Service
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /opt/piviteye/piviteye.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
Alias=piviteye.service
