<!DOCTYPE html>
<html>

    <head>
        <title>Piviteye Dashboard</title>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>   
        <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css" rel="stylesheet">

    </head>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
    <script src="static/js/indexview.js"></script>

	</head>
<div class="ui fluid container">
  <h1>Piviteye Dashboard</h1>
	<body>
		<h2> PiVitEye Web Interface</h2>
      <div class="pagelist">
        <li><a href="/videos"> Videos </a></li>
  			<li><a href="/log"> Log File </a></li>
            <li><a href="/speedtestlog"> Speedtest Log File </a></li>
  			<li><a href="/pcap"> Packet Captures </a></li>
  			<li><a href="/stream"> Live Stream (requires user:pass AND Motion Servce Running) </a></li>
      </div>
    <p>
  		<div>
        <div>
          <form id ="dashboardform" action="" method="post">
            <p>
              <div>
                <div class="log">
                  Log Functions
                </div>
                <input id="taillog_btn" class="uk-button uk-button-primary uk-button-large uk-width-1-3 " type="submit" value="Last x Log Entries" onclick="formroute(this.id);" />
                <input id="clearlogs_btn" class="uk-button uk-button-danger uk-button-large uk-width-1-3 " type="submit" value="Clear Log Files" onclick="formroute(this.id);"/>
              </div>
            </p>
            <p>
              <div>
                <div class="video">
                  Video Functions
                </div>
                <input id="videocap_btn" class="uk-button uk-button-primary uk-button-large uk-width-1-3 " type="submit" value="Video Capture" onclick="formroute(this.id);" />
                <input id="clearvideos_btn" class="uk-button uk-button-danger uk-button-large uk-width-1-3 " type="submit" value="Clear Cached Videos" onclick="formroute(this.id);"/>
              </div>
            </p>
            <p>
              <div>
                <div class="pcap">
                  Packet Capture
                </div>
                <input id="pcap_btn" class="uk-button uk-button-primary uk-button-large uk-width-1-3 " type="submit" value="Packet Capture" onclick="formroute(this.id);" />
                <input id="clearpcap_btn" class="uk-button uk-button-danger uk-button-large uk-width-1-3" type="submit" value="Clear Captures" onclick="formroute(this.id);"/>
              </div>
            </p>
            <p>
              <div>
                <div class="speedtest">
                  Speedtest
                </div>
                <input id="speedtest_btn" class="uk-button uk-button-primary uk-button-large uk-width-1-3 " type="submit" value="Start Speedtest" onclick="formroute(this.id);" />
                <input id="speedtestlog_btn" class="uk-button uk-button-danger uk-button-large uk-width-1-3" type="submit" value="View Speedtest Log" onclick="formroute(this.id);"/>
              </div>
            </p>
            <p>
              <div>
                <div class="motion">
                  Motion Service
                </div>
                <input id="motionstart_btn" class="uk-button uk-button-primary uk-button-large uk-width-1-3 " type="submit" value="Start Motion Service" onclick="formroute(this.id);" />
                <input id="motionstop_btn" class="uk-button uk-button-danger uk-button-large uk-width-1-3 " type="submit" value="Stop Motion Service" onclick="formroute(this.id);"/>
              </div>
          </p>
          <p>
            <div>
              <div class="system">
                System Functions
              </div>
              <input id="uptime_btn" class="uk-button uk-button-primary uk-button-large uk-width-1-3 " type="submit" value="Get Uptime" onclick="formroute(this.id);" />
              <input id="update_btn" class="uk-button uk-button-danger uk-button-large uk-width-1-3 " type="submit" value="System Update" onclick="formroute(this.id);"/>
            </div>
          </p>
          <p>
            <div>
              <input id="restart_btn" class="uk-button uk-button-primary uk-button-large uk-width-1-3 " type="submit" value="System Restart" onclick="formroute(this.id);" />
              <input id="sysshutdown_btn" class="uk-button uk-button-danger uk-button-large uk-width-1-3 " type="submit" value="Complete System Shutdown" onclick="formroute(this.id);"/>
            </div>
          </p>
          </form>
        </div>
  		</div>
    </p>
	</body>

</div>
</html>
