<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="static/styles/css/uikit.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="static/styles/js/uikit.min.js"></script>
        <script src="static/styles/js/uikit-icons.min.js"></script>
        <script type="text/javascript">
        // function formroute(id){
        //     var button = id;
        //     if (button === '1'){
        //       document.getElementById('pcapform').action = '/pcap/start';
        //     } else if {
        //       var response = confirm("Are you sure you wish to continue?");
        //       if (response == true) {
        //         document.getElementById('pcapform').action = '/pcap/clear';
        //       } else {
        //         document.getElementById('pcapform').action = '/';
        //         document.getElementById('pcapform').method = '';
        //         };
        //       };
        //     }


        function formroute(id){
          var buttonId = id;
          switch (buttonId){
            case '0':
              alert('No Button Pressed!');
              break;
            case '1':
              document.getElementById('pcapform').action = '/pcap/start';
              break;
            case '2':
              var response = confirm("Are you sure you wish to continue?");
              if (response == true) {
                      document.getElementById('pcapform').action = '/pcap/clear';
              } else {
                      document.getElementById('pcapform').action = '/';
                      document.getElementById('pcapform').method = '';
              };
              break;
            case '3':
              document.getElementById('pcapform').action = '/motion/start';
              break;
            case '4':
              document.getElementById('pcapform').action = '/motion/stop';
              break;
          }
        }
        </script>
    </head>
    <h1>Piviteye Dashboard</h1>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/styles/js/uikit.min.js"></script>
	</head>
	<body>
		<p> PiVitEye Web Interface</p>
			<li><a href="/videos"> Videos </a></li>
			<li><a href="/log"> Log File </a></li>
			<li><a href="/pcap"> Packet Captures </a></li>
			<li><a href="/stream"> Live Stream (requires user:pass) </a></li>
    <p>
  		<div>
        <div>
          <form id ="pcapform" action="" method="post">
              <input id="1" class="uk-button uk-button-primary uk-button-large " type="submit" value="30 Second Packet Capture" onclick="formroute(this.id);" />
              <input id="2" class="uk-button uk-button-danger uk-button-large " type="submit" value="Clear Captures" onclick="formroute(this.id);"/>
              <input id="3" class="uk-button uk-button-primary uk-button-large " type="submit" value="Start Motion Service" onclick="formroute(this.id);" />
              <input id="4" class="uk-button uk-button-danger uk-button-large " type="submit" value="Stop Motion Service" onclick="formroute(this.id);"/>
          </form>
        </div>
  		</div>
    </p>
	</body>
</html>
