<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="static/styles/css/uikit.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="static/styles/js/uikit.min.js"></script>
        <script src="static/styles/js/uikit-icons.min.js"></script>

    </head>
  <body>Last 30 Log Entries:</h1>
    <p>
      <ul>
        {% for line in msg %}
        <li>
          {{ line }}
        </li>
        {% endfor %}
      </ul>
    </p>
    <a href="http://192.168.1.250:5000">Return</a>
  </body>
</html>
